.main {
  display: grid;
  grid-template-areas:
    'header header header'
    'section section section'
    'footer footer footer';
  grid-template-rows: 262px 1fr 50px;
  grid-template-columns: 15% 1fr 18%;
  grid-gap: 0;
  height: 100vh;
}

.content--grid {
  .grid--col12 {
    padding: 20px;
    //float: left;
    width: 100%;
  }
  .grid--col4 {
    padding: 20px;
    float: left;
    width: 33.3%;
  }
  .grid--col3 {
    padding: 20px;
    float: left;
    width: 25%;
  }
  .grid--col8 {
    padding: 20px;
    float: left;
    width: 66.6%;
  }
}
