@import 'styles/_constants.scss';
@import 'styles/_framework.scss';

body {
  color: #444;
  background-color: #fff;
  font-size: 100%;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
p {
  font-size: 0.9em;
  line-height: 1.7em;
}
h2 {
  font-size: 1.8em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
h2.no-margin {
  margin: 0;
}

.App-logo {
  //animation: App-logo-spin infinite 20s linear;
  height: 130px;
  border-radius: 50%;
  border: 8px solid rgba(11, 1, 23, 1);
}

.top_header {
  grid-area: header;

  header {
    height: 210px;
    background-color: #fff;
    padding: 20px;
    //color: white;
    text-align: center;
    img {
      width: 300px;
      //filter: grayscale(100%);
    }
  }
}

.main_nav {
  padding: 10px 0;
  background-color: #3a1d7b;
  nav {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    a {
      border-radius: 8px;
      padding: 6px 10px;
      color: #fff;
      display: inline-block;
      border: 1px solid transparent;
    }
    .active {
      //border: 1px solid rgba(32, 35, 133, 1);
      background-color: #4a21af;
    }
  }
}

.side_menu {
  float: left;
  width: $sideWidth;
  a {
    display: block;
    padding: 4px 0;
  }
}
.side_content {
  float: left;
  width: calc(100% - #{$sideWidth});
}

.main_wrapper {
  grid-area: section;
}

.content_wrapper {
  .content_bloc {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    max-width: 1024px;
  }
}
.amazon_bloc {
  line-height: 150px;
  text-align: center;
  img {
    float: left;
    padding: 0 20px;
  }
  span {
    font-size: 1.2em;
    height: 150px;
    display: inline-block;
  }
}
.metric_bloc {
  text-align: center;
  img {
    float: right;
    padding: 0 20px;
  }
  span {
    float: left;
    margin-top: 80px;
    width: 50%;
    font-size: 1.1em;
    line-height: 24px;
    display: inline;
  }
}
.amazon {
  height: 150px;
}
.content_wrapper.style1 {
  background-color: #251154;
  color: #fff;
}
.content_wrapper.style2 {
  background-color: #fff;
  color: #444;
}
.content_wrapper.style3 {
  background-color: #e05243;
  color: #fff;
}
.content_wrapper.style4 {
  background-color: #23bec2;
  color: #fff;
}
.content_wrapper.style5 {
  background-color: #efefef;
  color: #444;
}

.content_block {
  padding: 20px;
  border-radius: 6px;
  background-color: #eee;
}
.centered {
  text-align: center;
}

.spec {
  .fa {
    background-color: #fff;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 3em;
    text-align: center;
    line-height: 100px;
    color: #e05243;
  }
}
.main_footer {
  grid-area: footer;
  text-align: center;
  font-size: 0.8em;
  line-height: 50px;
  color: #fff;
  background-color: #3a1d7b;
  footer {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
